.outlined-radio-group {
    display: flex;
    flex-wrap: wrap;
}
.outlined-radio {
    margin-right: 10px;
}
.outlined-radio input[type="radio"] {
    display: none;
}
.outlined-radio label {
    padding: 4px 7px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    color: #aaa;
    font-size: 13px;
    text-align: center;
    line-height: 1em;
    border-radius: 3px;
    cursor: pointer;
    max-width: 100%;
}
.outlined-radio label:hover,
.outlined-radio input:checked + label {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}
.outlined-radio input:disabled + label {
    border-color: #ccc;
    color: #ccc;
}
.outlined-radio label img {
    max-width: 100%;
}

.outlined-checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.outlined-checkbox {
    margin-right: 10px;
}
.outlined-checkbox input[type="checkbox"] {
    display: none;
}
.outlined-checkbox label {
    padding: 4px 7px;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    color: #aaa;
    font-size: 13px;
    text-align: center;
    line-height: 1em;
    border-radius: 3px;
    cursor: pointer;
}
.outlined-checkbox label:hover,
.outlined-checkbox input:checked + label {
    border-color: #007bff;
    color: #007bff;
}
.outlined-checkbox input:disabled + label {
    border-color: #ccc;
    color: #ccc;
}


.category_checkbox {
    display: none;
}
.category_checkbox:checked+label{
    background-color: #4285f4;
    color: #ffffff;
}
.category_edit {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #ced4da;
}
.category_edit label {
    margin: 0;
    padding-left: 5px;
}
