.card-header-subtitle{
    display: block;
    font-size: 13px;
    color: #707070;
}
.container_logo{

}
.btn-list-table .btn{
    padding: 0px;
    min-width: 30px;
}

@media (max-width: 768px) {
    .row-page-create{
        flex-direction: column-reverse;
    }
}
