@media (max-width: 991px) {
    :root {
        --fz: 14px;
    }

    .first {
        height: 100vh;
        padding: 115px 0;
        min-height: 700px;
        max-height: 890px;
    }
    .services{
        padding: 45px 0;
    }
    .services .slider__btns-container {
        left: initial;
        right: 40px;
    }

    .services__item {
        padding: 60px 40px;
    }

    .porfolio__item__logo {
        max-width: 80px;
    }

    .porfolio__item__text span {
        font-size: 1rem;

    }
    

    .porfolio__item__text {
        left: 30px;
        bottom: 30px;
    }

    .porfolio__item .main-container {
        padding-bottom: 88%;
    }

    .about {
        padding-top: 60px;
    }

    .about__item-title {
        font-size: 2rem;
    }

    .order-container__wrapper .row {
        row-gap: 2.5rem;
    }

    .order {
        padding-bottom: 50px;
    }

    .footer__wrapper {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        flex-shrink: 0;
    }

    .footer {
        height: auto;
    }

    .contact .contact-info__list {
        grid-template-columns: 1fr;
    }

    .contact-info__item-address .address p {
        font-size: 1.1rem;
    }

    .contact .phone a {
        font-size: 1.1rem;
    }
    .services_inner-wrapper .row .services_inner__item-container:nth-child(3n-1){
        margin-top: 0;
    }
    .services_inner-wrapper .services_inner__item{
        min-height: 320px;
    }

    .reviews__item{
        .col-lg-5{
            flex-direction: row;
        }
    }
    .job{
        padding: 1.5rem 2.5rem;
        .tabButton{
            font-size: 10px;
        }
        .col-lg-5{
            flex-direction: row;
        }
    }
    .job-logo{
        margin-top: 0;
        img{
            height: 30px;
        }
    }


    .form__wrapper .subm{
        align-items: center;
        .button{
            margin-top: 0;
        }
        .sogl{
            margin-bottom: 0;
        }
    }

    .porfolio__item .main-container img{
        object-fit: cover;
    }

    
    .job-top{
        margin-top: 2.5rem;
    }
    .portfolio__btn{
        span{
            font-size: 16px;
        }
    }
    .button span{
        top: 0 !important;
        font-size: 16px;
    }
    .button{
        font-size: initial;
    }
    .porfolio__footer{
        margin-top: 0;
    }
    .about{
        padding-bottom: 0;
    }
    .about .section-caption{
        margin-top: 60px;
    }
    .services__wrapper__text{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    
}