@media (max-width: 1399px) {
    .first__wrapper{
        padding: 0;
    }
    .contact-info__item-address .address p{
        font-size: 1.1rem;
    }
    .contact .phone a{
        font-size: 1.1rem;
    }
    .services_inner-wrapper .services_inner__item-logo-container span{
        font-size: 1rem;
    }
    .services_inner-wrapper .services_inner__item h2, .services_inner-wrapper .services_inner__item .h2{
        font-size: 1.1rem;
    }
    .services_inner-wrapper .services_inner__item{
        min-height: 420px;
        padding: 1rem;
    }

    .porfolio__item-mobile img{
        height: 290px;
    }
    .porfolio__item__text span{
        font-size: 20px;
    }
    .job h2{
        font-size: 28px;
    }
    .innerLayout .content{
        padding-top: 120px !important;
    }
    .section-caption{
        position: static;
        right: 0;
        transform: none;
        writing-mode: initial;
        text-align: end;
        margin-top: 1rem;
    }
    .services__header p{
        max-width: 100%;
    }

    .about__item-title{
        font-size: 38px;
    }
}
