.map-container{
    padding: 30px;
    background-color: #fff;
    border: 5px solid var(--c-bg);
    margin-top: 25px;
    margin-bottom: 25px;
}
.contact-info__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-gap: 25px;
  }
  .phone {
    a {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .address {
    p {
      color: var(--c-title);
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .worktime {
    margin-top: auto;
    p {
      font-size: 18px;
      color: var(--c-title);
      margin-bottom: 0;
      margin-top: auto;
    }
  }
  .img-container {
    svg {
      width: auto;
      height: 70px;
      path {
        fill: var(--c-primary);
      }
    }
  }
  .contact-info__item {
    padding: 30px;
    border: 5px solid var(--c-bg);
    background: var(--c-white);
    transition: 0.3s linear;
    &:hover {
      border: 5px solid var(--c-primary);
    }
    &-info {
      grid-column: -1/-2;
      grid-row: 1/-1;
    }
  
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      align-items: center;
    }
  }
  .btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .btn__web {
    font-family: inherit;
    font-size: 20px;
    background: var(--c-white);
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    padding: 0.2em 1em;
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .btn__web span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s linear;
  }
  
  .btn__web svg {
    width: 20px;
    display: block;
    transform-origin: center center;
    transition: 0.3s linear;
    path {
      fill: var(--c-primary);
      transition: 0.3s linear;
    }
  }
  
  .btn__web:hover .svg-wrapper {
    animation: fly-1 0.8s linear infinite alternate;
  }
  .btn__web {
    &:hover {
      // background: var(--c-white);
      // color: var(--c-primary);
      background: var(--c-primary);
      color: var(--c-white);
      svg {
        path {
          fill: var(--c-white);
        }
      }
    }
  }
  
  .btn__web:active {
    transform: scale(0.95);
  }
  .iframe {
    margin-top: 1.5rem;
    display: flex;
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  @media (max-width: 576px) {
    .contact .btn-container{
        flex-direction: column;
    }
  }