.footer {
    height: 85px;
    background-color: #212121;
    &-container {
        height: 100%;
    }
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p,
        a {
            font-size: 14px;
            color: var(--c-white);
            margin-bottom: 0;
        }
        a {
            &:hover {
                color: var(--c-primary);
            }
        }
    }
}
